### - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -
### Imports
import(S4Vectors)
import(Biobase)
importClassesFrom(NanoStringNCTools, SignatureSet)
importClassesFrom(S4Vectors,DataFrame)
importFrom(NanoStringNCTools, SignatureSet)
importFrom(rjson, fromJSON)
importFrom(readxl, read_xlsx)
importFrom(EnvStats, geoMean)
importFrom(reshape2, dcast)
importFrom(utils, read.csv)
importFrom(stats, as.formula)
importFrom(stats, weights)
importFrom(methods, callGeneric)
importFrom(methods, callNextMethod)
importFrom(BiocGenerics, design)
importFrom(BiocGenerics, "design<-")


### - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -
### Export S4 classes

exportClasses(NanoStringGeomxSet)

### - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -
### Export S4 generics

export(sData, svarLabels, dimLabels, "dimLabels<-",
       featureType, "featureType<-",
       signatures, "signatures<-", signatureScores,
       design, "design<-", signatureGroups)

### - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -
### Export S4 methods

exportMethods(show,
              sData, svarLabels, dimLabels, "dimLabels<-",
              featureType, "featureType<-",
              signatures, "signatures<-", signatureScores,
              design, "design<-", signatureGroups)


### - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -
### Export non-generic functions

export(readNanoStringGeomxSet,
       readDccFile,
       readPKCFile,
       writeNanoStringGeomxSet)

### - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -
### Export S3 methods



